/* зкид стилів */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* кінець зкидання */

@font-face {
    font-family: Italic;
    src: url(./fonts/OpenSans-Italic.ttf);
}

@font-face {
    font-family: Regular;
    src: url(./fonts/RobotoMono-Regular.ttf);
}
@font-face {
    font-family: Menu;
    src: url(./fonts/PlusJakartaSans-Regular.ttf);
}

@font-face {
    font-family: Barlow;
    src: url(./fonts/Barlow-Regular.ttf);
}
@font-face {
    font-family: Plex;
    src: url(./fonts/IBMPlexSerif-Regular.ttf);
}

@font-face {
    font-family: List;
    src: url(./fonts/Cabin-Regular.ttf);
}

h1{
    font-family: Regular; 
    text-transform: uppercase;
    font-size:30px;
    font-weight:bolder;
    color: orangered;
    padding: 10px;
}

.container{
    width: 80%;
    margin:auto;
}

.header span{
    font-size: 10px;
    color: grey;
    margin: 1px;
}

.navbar {
    background-color:rgb(34, 41, 41);
}

.navbar-container{
  clear: both; 
  display: table; 
}

.navbar-nav {
    float: left;
}

.navbar-search{
    float: right;
}

.navbar-nav ul li{
    color:white;
    font-family: Menu;
    list-style-type: none;
    display: inline-block;
    padding: 20px;
    text-transform: uppercase;
    text-align: center;
}

.navbar-nav ul li a{
    color:white;
    text-decoration: none;
}

.active {
    background-color:orangered;
}

.header {
    padding: 30px 0px 16px 0px;
}

.header-logo{
    float:left;
    text-align: left;
}

.header-user{
    float:right;
    text-align: right;
}

.header-container{
    clear:both;
    display:table;
}

.header-user button{
    text-transform: uppercase;
    font-family: Italic;
    padding:10px 30px;
}

.login {
    background-color: transparent;
    border-color: transparent;
}

.contact{
    background-color: orangered;
    border-color:orangered;
}

.main-header {
    font-family: Plex;
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 30px;
    margin: 50px 0px;
    padding-top: 10px;
     
}

.main-paragraph p{
    font-family: Barlow;
    font-size: 24px;
    padding:10px 0px 0px 0px;
    margin:25px 0px;
    width: 85%;
}

.main-list p{
    margin: 10px 0px;
    font-weight: bold;
    font-size: 23px;
}

.main-list ul li{
    font-family: List;
    list-style: disc;
    list-style-position:inside;
    margin:7px 10px;
    font-size: 19px;
}

.main-list{
    padding: 25px 0px;
    margin: 30px 0px;
}

.main-recent{
    text-transform:uppercase;
    color:orangered;
    font-size: smaller;
    font-family: Menu;
    font-weight: bolder;
    padding: 15px 0px 25px 40px;
    margin: 0px;
}

.gallery-container{
    width: 97%;
    margin: auto;
}

.gallery-single{
 float: left;
 width: 16.666666%;
 padding: 0px 8px;
 box-sizing: border-box;
}

.single-image img{
    width:100%;
    height:100%;
}

.single-image{
    height: 160px;    
}

.gallery-container{
    clear: both;
    display: table;
}

.single-description{
    min-height: 70px;
    padding-bottom: 30px;
}

@media(max-width:768px){
    .main-recent{
        padding: 20px 40px;
    }
    .main-paragraph p{
        width: 95%;
        padding-top: 35px;
    }
    .main-list p{
        margin-top: 45px ;
    }
    .main-list{
        padding: 5px 0px;
        margin-bottom: 50px;
    }
    .gallery-single{
        width:50%;
    }
    .single-image{
        height: 250px;
    }
    .main-paragraph{
        width:100%;
    }
}

@media(max-width:425px){
    .navbar-nav{
        text-align:left;
        float: none;
    }
    .container{
        width: 90%;
    }
    .navbar-nav ul{
        width: 85%;
        margin: auto;
        line-height: 10px;
    }
    .navbar-nav ul li{
        padding: 27px;
    }
    .main-recent{
        padding: 15px 25px;
    }
    .gallery-single{
        width:100%;
    }
    .single-image{
        height: 270px;
    }
    .header-logo{
        float:none;
    }
    .header-user{
        float:none;
    }
    .main-paragraph{
        width: 100%;
    }
}

@media(max-width:375px){
    .navbar-nav ul{
        width: 93%;
        margin: auto;
    }
    .navbar-nav ul li{
        padding: 25px;
    }
    .main-paragraph p{
        width: 100%;
        margin: auto;
        font-size: 23px;
    }
    .main-recent{
        padding: 25px;
    }
}

@media(max-width:320px){
    .navbar-nav ul{
        width: 100%;
        margin: auto;
    }
    .navbar-nav ul li{
        padding: 20px;
    }
    .main-header h2{
        font-size: 27px;
    }
    .main-list ul li{
        font-size: 18px;
    }
    .main-paragraph p{
        font-size: 22px;
    }
    .main-list p{
        font-size: 20px;
    }
    .main-recent{
        padding: 25px;
    }
    .single-description p{
        font-size: 18px;
    }
}
